{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'passwordgen/style.css' %}">
    <title>Password</title>
</head>
<body>
    <div class="titleContainer">
        <h1>Password Generator</h1>
    </div>
    <div class="card">
        <form method="POST">
            {% csrf_token %}

            <p class="lengthRange"><span id="lengthRange"></span></p>
			{% for field in form %}
			<div class="inputContainer">
				{{ field.errors }}
				{{ field.label_tag }} {{ field }}
			</div>
			{% endfor %}

          
    
            <button class='submitButton'>Generate Password</button>

            {% if  password %}
                <h3 class="password-title"> Here is your Password:</h3>
                <p class="password">{{ password }}</p>
            {% endif %}
            
        </form>
    </div>

   
    <script>
		const slider = document.getElementById('lengthRangeInput')
		let output = document.getElementById('lengthRange')
		output.innerHTML = slider.value
        

		output.style.color = '#90ee90'
		slider.oninput = function() {
			if (this.value <= 10) {
				// red
				output.style.color = '#FF0000'
			} else if (this.value < 20) {
				// orange
				output.style.color = '#FFA500'
			} else {
				output.style.color = '#24ed64'
			}

			output.innerHTML = this.value
		}
	</script>
</body>
</html>